* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.title {
    height: 100vh;
    padding-top: 50px;
}
a{
    cursor: pointer;
}