<div class="container">
    <div class="row">
        <div class="col-8">
            <table class="table table-bordered text-center mt-5">
                <thead>
                    <th>Sr.No.</th>
                    <th>Candidate Name</th>
                    <th>Technology</th>
                    <th>Interviewer</th>
                    <th>Status</th>
                </thead>
                <tbody>
                    <tr *ngFor="let data of candidateArray let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ data.candidateName }}</td>
                        <td>{{ data.position }}</td>
                        <td>{{ data.interviewer }}</td>
                        <td>{{ data.result }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>